<h1>Burgers!</h1>


<ul>
  {{#each burgers}}

  {{/each}}
</ul>


<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="burgerName" name="name">
  </div>

  <button type="submit" id="submit">Add yo burger!</button>
</form>

{{!-- add submit button functiionality and ajax put --}}
<script type="text/Javascript">

$(function(){
  $(".devour").on("click", function(event) {
    var id = $(this).data("id");
    var name = $(this).data("name");
    var eaten = $(this).data("eaten");

    var newDevour = {
      devoured: eaten
    };
 
  //send put request
  $.ajax("api/burgers" + id + name, {
    type: "PUT", 
    data: newDevour
  }).then(function () {
      
      console.log("changed burger state to", newDevour);

      //reload page with updated list
      location.reload();

    });
  });

  //form submit on click
  $("#submit").on("click", function (event) {
    event.preventDefault();

    //grab form elements
    var burger = $("#burgerName").val().trim();

    //test to see input is being grabbed - this works
    console.log(burger);

  //send post request
    $.ajax("api/burgers", {
      type:  "POST",
      data: burger
    }).then(
      function() {
        console.log("created new burger");
        //reload page with updated list
        location.reload();
      }
    );
  });

});



</script>